{% section 'Custom-Slider' %}
{% section 'main-product' %}
{% section 'custom-collection' %}
<div class="container">
  <div id="mag-product-review" data-product="{{ product.id }}"></div>
</div>
<style>
  #custom-slider img {
    height: 400px;
    object-fit: cover;
}
  #custom-slider a {
    display: block;
    position: relative;
    top: 35px;
}
  #custom-slider a {
    display: block;
    position: relative;
    top: 35px;
    text-decoration: none;
}
.corevalue-corevalue-box, .icon-with-text {
    display: flex;
    padding: 0;
}
.icon-with-text__item {
    display: flex;
    align-items: center;
}
.icon-with-text img
{
   width: 29%;
  margin-right: 10px;
}
</style>